body{
    background: linear-gradient(90deg, #00DBDE 0%, rgba(35, 245, 195, 0.87) 100%);
}
.prop{
    margin-top: 0px;
    width: 78%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
.emplist{
    margin-top: 20px;
}
.searchbtn{
    height: 50px;
    width: 18%;
    margin-left: 10px;
}
.listbtn{
    margin: 1px;
    border: none;
    border-radius: 10px;
}
.avatar{
    width: 100px;
    height: 120px;
}

h6{
    color: grey;
}
.right{
    text-align: end;
}
li{
    text-align: justify;
}
.list-group-item{
    margin: 2px;
    transition: 0.2s;
    border-radius: 20px;
}
.list-group-item:hover{
    background-color: teal;
    color: white;
}

.details{
    background-color: white; 
    padding: 2%;
}

